body {
    margin: 0;
    overflow: hidden;
}

.jumbotron {
    background: url("bg.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0;
}

.dropdown {
    position: absolute;
}

#detail {
    font-size: large;
}